.article-page {
  background: #f5f8fc;
  padding: 60px 0;
}

.article-container {
  background: white;

  padding: 40px;

  border-radius: 20px;

  box-shadow:
    0 8px 30px rgba(0,0,0,.08);

  max-width: 1000px;
}

.article-category {
  background: #0077cc;
  color: white;

  padding: 8px 16px;

  border-radius: 30px;

  font-size: 14px;
}

.article-container h1 {
  margin-top: 20px;
  margin-bottom: 15px;

  line-height: 1.5;

  color: #003366;
}

.article-meta {
  color: #888;
  margin-bottom: 30px;
}

.article-content {
  line-height: 1.9;
  font-size: 17px;
  color: #333;
}

.article-content h2 {
  color: #0077cc;
  margin-top: 35px;
  margin-bottom: 15px;
  font-size: 28px;
}

.article-content p {
  margin-bottom: 18px;
}

.article-content ul {
  margin: 20px 0;
  padding-left: 25px;
}

.article-content li {
  margin-bottom: 10px;
}

.article-content table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
}

.article-content th {
  background: #0077cc;
  color: white;
  padding: 14px;
}

.article-content td {
  border: 1px solid #ddd;
  padding: 12px;
}

.article-content tr:nth-child(even) {
  background: #f7f9fc;
}